tags
*~
*.o
*.i
.*project
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.bbl
*.blg
*.synctex
*.fdb_latexmk
*.xdv
*.fls
*.synctex.gz
*.nlg
*.nlo
*.nls
*.bcf
*.run.xml
*.swp
*.glo
*.gls
*.idx
*.ilg
*.ind
*.hd

auto
